In [2]:

import csv
import urllib2    
from collections import defaultdict
import time
from urllib import FancyURLopener  # This is library that helps us create the headless browser
from random import choice #This library helps pick a random item from a list
import pandas as pd
import string 
import re

In [83]:
##setting for headless browser

user_agents = [
    'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36',
    'Opera/9.80 (X11; Linux i686; Ubuntu/14.10) Presto/2.12.388 Version/12.16',
    'Mozilla/5.0 (Windows; U; Windows NT 6.1; rv:2.2) Gecko/20110201',
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A',
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246'
]

In [94]:
data1=pd.read_csv('Data for Frequency Count.csv')

In [85]:
urls=list(data1['HTML Links'])##assigning all html links to a list

In [86]:
len(urls)

1452

In [87]:


cnt_all=[]##list to keep count of dictionary words in each link
for data in urls: 
      class MyOpener(FancyURLopener, object):
          version = choice(user_agents)
      
      myopener = MyOpener()
      page=myopener.open(data)    
      html = page.read()
      ##repalcing every punctuations with " "
      replace_punctuation = string.maketrans(string.punctuation, ' '*len(string.punctuation))   
      html1=" ".join(html.translate(replace_punctuation).lower().split())##reducing all characters to lower 
      cnt=[]##list to keep count of dictionary words in each html1
      for j in dictn:
        cnt.append(len(re.findall(j, html1)))
      cnt_all.append(cnt)

In [289]:
df = pd.DataFrame(cnt_all,columns=dictn) 
##inserting columns to dataframe
df.insert(0, 'Company',data1['Company Name'] )
df.insert(1, 'Date',data1['Date of filing'] )
df.insert(2, 'GICS Sector',data1['GICS Sector'] )
df.insert(4, 'Ticker',data1['Ticker Symbol'] )

##exporting
df.to_csv('regex_count_of_words.csv',index = False)

In [290]:
df.columns.values

array(['Company', 'Date', 'GICS Sector', 'big data', 'Ticker',
       'predictive analytics', 'predictive model', 'internet of things',
       'industrial internet of things', 'data analytics',
       'business analytics', 'augmented reality',
       'artificial intelligence', 'virtual reality', 'computer vision',
       'machine learning', 'business intelligence', 'data science',
       'hadoop', 'software as a service', 'cloud comput',
       'platform as a service', 'infrastructure as a service',
       'data center', 'optimization', 'data security', 'data mining',
       'private cloud', 'hybrid cloud', 'data warehous',
       'natural language processing', 'data proces', 'scalable technolo',
       'decision science', 'customer analytic', 'data scien',
       'data stream', 'intelligent system', 'virtualization technolog',
       'cloud'], dtype=object)

In [92]:
df.iloc[:,2:].describe().T

,count,mean,std,min,25%,50%,75%,max
big data,1452.0,0.204545,1.625149,0.0,0.0,0.0,0.0,25.0
predictive analytics,1452.0,0.030303,0.258110,0.0,0.0,0.0,0.0,5.0
predictive model,1452.0,0.073003,0.485675,0.0,0.0,0.0,0.0,8.0
internet of things,1452.0,0.132231,1.360213,0.0,0.0,0.0,0.0,35.0
industrial internet of things,1452.0,0.001377,0.037101,0.0,0.0,0.0,0.0,1.0
data analytics,1452.0,0.212121,0.899754,0.0,0.0,0.0,0.0,14.0
business analytics,1452.0,0.026171,0.311734,0.0,0.0,0.0,0.0,7.0
augmented reality,1452.0,0.010331,0.163619,0.0,0.0,0.0,0.0,4.0
artificial intelligence,1452.0,0.017218,0.285860,0.0,0.0,0.0,0.0,8.0
virtual reality,1452.0,0.024793,0.438583,0.0,0.0,0.0,0.0,11.0
computer vision,1452.0,0.002755,0.064246,0.0,0.0,0.0,0.0,2.0
machine learning,1452.0,0.022039,0.256272,0.0,0.0,0.0,0.0,6.0
business intelligence,1452.0,0.090220,0.686174,0.0,0.0,0.0,0.0,14.0
data science,1452.0,0.015840,0.229817,0.0,0.0,0.0,0.0,5.0
hadoop,1452.0,0.010331,0.190840,0.0,0.0,0.0,0.0,5.0
software as a service,1452.0,0.201102,1.349702,0.0,0.0,0.0,0.0,31.0
cloud comput,1452.0,0.689394,2.907596,0.0,0.0,0.0,0.0,52.0
platform as a service,1452.0,0.056474,0.980643,0.0,0.0,0.0,0.0,25.0
infrastructure as a service,1452.0,0.067493,1.128353,0.0,0.0,0.0,0.0,30.0
data center,1452.0,2.634298,19.680263,0.0,0.0,0.0,1.0,365.0
optimization,1452.0,1.123967,3.548200,0.0,0.0,0.0,1.0,47.0
data security,1452.0,0.733471,1.410762,0.0,0.0,0.0,1.0,10.0
data mining,1452.0,0.010331,0.101148,0.0,0.0,0.0,0.0,1.0
private cloud,1452.0,0.062672,0.534990,0.0,0.0,0.0,0.0,10.0
hybrid cloud,1452.0,0.069559,0.746217,0.0,0.0,0.0,0.0,21.0
data warehous,1452.0,0.048209,0.311314,0.0,0.0,0.0,0.0,4.0
natural language processing,1452.0,0.008953,0.114080,0.0,0.0,0.0,0.0,2.0
data proces,1452.0,0.590909,2.317791,0.0,0.0,0.0,0.0,33.0
scalable technolo,1452.0,0.002066,0.045423,0.0,0.0,0.0,0.0,1.0
decision science,1452.0,0.002755,0.064246,0.0,0.0,0.0,0.0,2.0
customer analytic,1452.0,0.002755,0.052432,0.0,0.0,0.0,0.0,1.0
data scien,1452.0,0.018595,0.235537,0.0,0.0,0.0,0.0,5.0
data stream,1452.0,0.006887,0.104783,0.0,0.0,0.0,0.0,2.0
intelligent system,1452.0,0.009642,0.104565,0.0,0.0,0.0,0.0,2.0
virtualization technolog,1452.0,0.013774,0.138229,0.0,0.0,0.0,0.0,2.0
cloud,1452.0,4.346419,24.170694,0.0,0.0,0.0,1.0,507.0

In [291]:
df['Year']=df.loc[:,'Date'].map(lambda x: x.strip()[-4:])##extracting year from Date
df['Ticker']=df['Ticker'].map(lambda x: x.strip().lower())##reducing all characters to lower case
df.drop('Date',inplace=True,axis=1)

In [328]:
############Preparing Profit,StockPrice,ROE Variables

##Reading FIancial Data and transforming it
financial=pd.read_csv('Financials.csv')
financial['Ticker']=financial['Ticker'].map(lambda x: x.strip().lower())##reducing all characters to lower case
financial.head()
financial.drop(['0','Name'],axis=1,inplace=True)##dropping unnecessary columns
financial.columns=['Ticker', 'Profit_2012', 'Profit_2013',
       'Profit_2014', 'Profit_2015', 'Profit_2016',
       'Roe_2012', 'Roe_2013', 'Roe_2014', 'Roe_2015', 'Roe_2016',
       'Price_2012', 'Price_2013', 'Price_2014',
       'Price_2015', 'Price_2016']
financial.columns.values
financial.drop(['Profit_2012', 'Price_2012','Roe_2012'],inplace=True,axis=1)


##transforming data from wide to long
tidy_abs= pd.melt(financial, 
               id_vars='Ticker', 
               value_vars=[ 'Profit_2013', 'Profit_2014',
       'Profit_2015', 'Profit_2016', 'Roe_2013', 'Roe_2014',
       'Roe_2015', 'Roe_2016', 'Price_2013', 'Price_2014',
       'Price_2015', 'Price_2016'])

tidy_abs['Year']=tidy_abs['variable'].map(lambda x: x[x.find('_')+1:].strip())
tidy_abs['variable']=tidy_abs['variable'].map(lambda x: x[:x.find('_')].strip())
tidy_abs1= pd.DataFrame(tidy_abs.pivot_table(index=['Ticker','Year'], columns='variable', values='value'))##pivoting on Ticker,Year
flattened1 = pd.DataFrame(tidy_abs1.to_records())
flattened1.head()

In [332]:
############Preparing Profit_change%,StockPrice_change%,ROE Variables_change%


financial=pd.read_csv('Financials.csv')
financial['Ticker']=financial['Ticker'].map(lambda x: x.strip().lower())
financial.head()
financial.drop(['0','Name'],axis=1,inplace=True)
financial.columns=['Ticker', 'Profit_2012', 'Profit_2013',
       'Profit_2014', 'Profit_2015', 'Profit_2016',
       'Roe_2012', 'Roe_2013', 'Roe_2014', 'Roe_2015', 'Roe_2016',
       'Price_2012', 'Price_2013', 'Price_2014',
       'Price_2015', 'Price_2016']




##tAKING RELATIVE CHANGE WRT TO LAST YEAR
financial['ProfPerc_2013']=financial['Profit_2013']/(financial['Profit_2012']+10**-6)-1##adding small number to denominator
financial['ProfPerc_2014']=financial['Profit_2014']/(financial['Profit_2013']+10**-6)-1
financial['ProfPerc_2015']=financial['Profit_2015']/(financial['Profit_2014']+10**-6)-1
financial['ProfPerc_2016']=financial['Profit_2016']/(financial['Profit_2015']+10**-6)-1

financial['RoePerc_2013']=financial['Roe_2013']/(financial['Roe_2012']+10**-6)-1
financial['RoePerc_2014']=financial['Roe_2014']/(financial['Roe_2013']+10**-6)-1
financial['RoePerc_2015']=financial['Roe_2015']/(financial['Roe_2014']+10**-6)-1
financial['RoePerc_2016']=financial['Roe_2016']/(financial['Roe_2015']+10**-6)-1

financial['PricePerc_2013']=financial['Price_2013']/(financial['Price_2012']+10**-6)-1
financial['PricePerc_2014']=financial['Price_2014']/(financial['Price_2013']+10**-6)-1
financial['PricePerc_2015']=financial['Price_2015']/(financial['Price_2014']+10**-6)-1
financial['PricePerc_2016']=financial['Price_2016']/(financial['Price_2015']+10**-6)-1


##dropping unnecessary variables
financial.drop(['Profit_2012', 'Profit_2013',
       'Profit_2014', 'Profit_2015', 'Profit_2016', 
                'Roe_2012', 'Roe_2013', 'Roe_2014', 'Roe_2015', 'Roe_2016',
       'Price_2012', 'Price_2013', 'Price_2014',
       'Price_2015', 'Price_2016'],inplace=True,axis=1)


###preparing wide to long data
tidy= pd.melt(financial, 
               id_vars='Ticker', 
               value_vars=['RoePerc_2013', 'RoePerc_2014', 'RoePerc_2015', 'RoePerc_2016',
       'ProfPerc_2013', 'ProfPerc_2014', 'ProfPerc_2015', 'ProfPerc_2016',
       'PricePerc_2013', 'PricePerc_2014', 'PricePerc_2015',
       'PricePerc_2016'])


###preparing new variables
tidy['Year']=tidy['variable'].map(lambda x: x[x.find('_')+1:x.find('_')+5])
tidy['variable']=tidy['variable'].map(lambda x: x[:x.find('_')])




###pivoting on ticker Year

tidy1= pd.DataFrame(tidy.pivot_table(index=['Ticker','Year'], columns='variable', values='value'))
flattened = pd.DataFrame(tidy1.to_records())
flattened.head()

  Ticker  Year     PricePerc  ProfPerc   RoePerc
0      a  2013  3.969223e-01 -0.363400 -0.422876
1      a  2014  1.080373e-03 -0.252044 -0.260451
2      a  2015  2.125065e-02 -0.269581 -0.183255
3      a  2016  8.969143e-02  0.152120  0.297059
4    aal  2013  2.525000e+07 -0.022388 -1.000000

In [340]:
###Merging both above tables 'flattened','flattened1'

merged_data=pd.merge(df, flattened, on=['Ticker','Year'],how='inner')
merged_data1=pd.merge(merged_data,flattened1,on=['Ticker','Year'],how='inner')
merged_data1.columns.values
final_data=merged_data1[['Company', 'GICS Sector', 'Ticker', 'Year', 'big data',
       'predictive analytics', 'predictive model', 'internet of things',
       'industrial internet of things', 'data analytics',
       'business analytics', 'augmented reality',
       'artificial intelligence', 'virtual reality', 'computer vision',
       'machine learning', 'business intelligence', 'data science',
       'hadoop', 'software as a service', 'cloud comput',
       'platform as a service', 'infrastructure as a service',
       'data center', 'optimization', 'data security', 'data mining',
       'private cloud', 'hybrid cloud', 'data warehous',
       'natural language processing', 'data proces', 'scalable technolo',
       'decision science', 'customer analytic', 'data scien',
       'data stream', 'intelligent system', 'virtualization technolog',
       'cloud', u'PricePerc', u'ProfPerc', u'RoePerc', u'Price',
       u'Profit', u'Roe']]

In [ ]:
final_data.to_csv('final_data.csv')##exporting final data to be used in analysis